<button class="process-card" (click)="expandInfo()">
	<header>
		<div class="content">
			<h3>{{PROCESS.title}} <small>{{PROCESS.stages.length}} Stage(s)</small></h3>
			<p>{{PROCESS.directions}}</p>
		</div>
		<span class="chevron {{!truncated && 'rotate' }}">&#10148;</span>
	</header>
	<div *ngIf="!truncated" class="stage-container">
		<div class="stage-card" *ngFor="let STAGE of PROCESS.stages; let i=index">
			<span class="order">{{i + 1}}</span>
			<div class="content">
				<p>{{STAGE.prompt}}</p>
				<p class="answer">{{STAGE.responseInput}}</p>
			</div>
		</div>
	</div>
</button>
