<div class="pg-container">
	<h2>{{isEditing ? 'Edit' : 'Create New'}} Process</h2>
	<strong *ngIf="error">Title cannot be empty</strong>
	<strong *ngIf="stageError">Must add at least 1 stage</strong>
	<form>
		<div class="form-group">
			<label for="title">Title</label>
			<input name="title" id="title" class="form-control {{error && 'error'}}" [(ngModel)]="process.title">
		</div>
		<div class="form-group">
			<label for="directions">Directions</label>
			<textarea id="directions" name="directions" class="form-control" [(ngModel)]="process.directions"></textarea>
		</div>

		<app-stage-card
				*ngFor="let stage of process.stages; let i=index"
				[STAGE]="stage"
				[INDEX]="i"
				(ON_STAGE_DELETE)="removeStage($event)"
				(ON_STAGE_EDIT)="editStage($event)"
				(ON_ORDER_CHANGE)="setOrder($event)"
		>
		</app-stage-card>

		<app-stage-form
				*ngFor="let stage of stageFormList; let i=index"
				[INDEX]="i"
				[STAGE]="stage"
				(ON_REMOVE)="removeStageForm($event)"
				(ON_SAVE)="addStage($event)"
		>
		</app-stage-form>
		<button class="add-stage {{stageError && 'error'}}" (click)="addStageForm()"><span class="nav-icon">&#10011;</span> Add Stage</button>
		<hr>
		<div class="btn-container">
			<button class="btn btn-primary" (click)="onProcessSave()">Save</button>
			<button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
		</div>
	</form>
</div>