.stage-card {
    width: 100%;
    background-color: var(--dark-ghostwhite);
    padding: .75rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    color: gray;
    margin-bottom: 0.25rem;
}
.stage-card .order, .content p {
    font-weight: bold;
}
.stage-card .content {
    flex-grow: 1;
}
.content {
    width: calc(100% - 12rem);
}
.content ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: .5rem;
    list-style: upper-alpha inside;
    gap: 0.75rem;
}
.options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    color: darkgray;
    width: 42px;
}
.options button {
    background-color: unset;
    border: unset;
    font-size: .875rem;
    color: darkgray;
}
.options button:hover {
    text-decoration: underline;
    color: black;
}
.reorder {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}
.reorder button {
    color: darkgray;
    transition: all .2s;
}
.up {
    transform: rotate(-90deg);
}
.up:hover {
    transform: scale(1.5) rotate(-90deg);
    color: black;
}
.down {
    transform: rotate(90deg);
}
.down:hover {
    transform: scale(1.5) rotate(90deg);
    color: black;
}