<div class="stage-card">
	<div *ngIf="EDIT_VIEW" class="reorder">
		<button class="up" (click)="onOrder('up')" value="up">&#10132;</button>
		<button class="down" (click)="onOrder('down')">&#10132;</button>
	</div>
	<span class="order">{{INDEX+1}}</span>
	<div class="content">
		<p>{{STAGE.prompt}}</p>
		<ul *ngIf="STAGE.responseType==='Multiple'">
			<li *ngFor="let item of STAGE.options">{{item.content}}</li>
		</ul>
	</div>
	<div class="options" *ngIf="EDIT_VIEW">
		<button (click)="onEdit()">&#9998;</button> |
		<button (click)="onDelete()">&#10005;</button>
	</div>
</div>
