<div class="pg-container">
	<h2>{{PROCESS.title}}</h2>
	<article>
		<small>Step {{step + 1}} of {{PROCESS.stages.length}}</small>
		<app-stage
				*ngFor="let stage of PROCESS.stages; let i=index"
				[stage]="stage"
				[INDEX]="i"
				[STEP]="step"
		></app-stage>
	</article>
	<div class="btn-container">
		<button class="btn btn-primary"
		        (click)="onNext()"
		        [disabled]="PROCESS.stages[step].responseInput === ''">
			{{ PROCESS.stages.length-1 === step ? "Finish" : "Next" }}
		</button>
		<button class="btn btn-secondary" (click)="omCancel()">Cancel</button>
	</div>
</div>
