<hr>
<div class="options">
	<button (click)="onSave()">Save</button> |
	<button (click)="onCancel()">Cancel</button>
</div>
<div class="form-group">
	<label>Prompt {{INDEX+1}}</label>
	<input class="form-control" type="text" [(ngModel)]="STAGE.prompt">
</div>

<div class="type-select">
	<p>Response Type:</p>
	<label><input type="radio" name="type{{INDEX}}" value="Text" [ngModel]="STAGE.type" (ngModelChange)="setType($event)"> Text</label>
	<label><input type="radio" name="type{{INDEX}}" value="Multiple" [ngModel]="STAGE.type" (ngModelChange)="setType($event)"> Multiple Choice</label>
	<label><input type="radio" name="type{{INDEX}}" value="True/False" [ngModel]="STAGE.type" (ngModelChange)="setType($event)"> True/False</label>
</div>

<br *ngIf="STAGE.type ==='Multiple'; then showMultiple">
<ng-template #showMultiple>
	<div *ngFor="let option of STAGE.options; let i = index">
		<label>Option {{i+1}}</label>
		<input class="form-control" [(ngModel)]="option.content">
	</div>
	<button class="add"
	        *ngIf="STAGE.options.length < 4"
	        (click)="addOption()">
		<span class="nav-icon">&#10011;</span>
	</button>
</ng-template>