<hr>
<div class="options">
	<button>Save</button> |
	<button (click)="onCancel()">Cancel</button>
</div>
<div class="form-group">
	<label>Prompt {{INDEX+1}}</label>
	<input class="form-control" type="text" [(ngModel)]="STAGE.prompt">
</div>

<div class="type-select">
	<p>Response Type:</p>
	<label><input type="radio" name="type{{INDEX}}" value="Text" [ngModel]="STAGE.type" (ngModelChange)="setType($event)"> Text</label>
	<label><input type="radio" name="type{{INDEX}}" value="Checkbox" [ngModel]="STAGE.type" (ngModelChange)="setType($event)"> Multiple</label>
	<label><input type="radio" name="type{{INDEX}}" value="True/False" [ngModel]="STAGE.type" (ngModelChange)="setType($event)"> True/False</label>
</div>


<br *ngIf="STAGE.type ==='Checkbox'; then showMultiple">
<ng-template #showMultiple>
	<div>
		<label>Option 1</label>
		<input class="form-control" [(ngModel)]="STAGE.options.first">
	</div>
	<div>
		<label>Option 2</label>
		<input class="form-control" [(ngModel)]="STAGE.options.second">
	</div>
	<div>
		<label>Option 3</label>
		<input class="form-control" [(ngModel)]="STAGE.options.third">
	</div>
	<div>
		<label>Option 4</label>
		<input class="form-control" [(ngModel)]="STAGE.options.fourth">
	</div>
</ng-template>