<button class="stage-card" (click)="expandInfo()">
	<header>
		<div class="options">
			<button (click)="deleteProcess()">&#10005;</button>
			<button (click)="editProcess()">&#9998;</button>
		</div>
		<div class="content">
			<h3>{{PROCESS.title}} <small>{{PROCESS.stages.length}} Stage(s)</small></h3>
			<p>{{PROCESS.directions}}</p>
		</div>
		<span class="chevron {{!truncated && 'rotate' }}">&#10148;</span>
	</header>
	<div *ngIf="!truncated" class="stage-container">
		<app-stage-card *ngFor="let stage of PROCESS.stages; let i=index"
				[STAGE]="stage"
				[INDEX]="i"
				[EDIT_VIEW]=false
		>
		</app-stage-card>
	</div>
</button>
